@font-face {
  font-family: "iconfont"; /* Project id 3608665 */
  src: url('./iconfont.woff2?t=1663503135518') format('woff2'),
       url('./iconfont.woff?t=1663503135518') format('woff'),
       url('./iconfont.ttf?t=1663503135518') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e8c8";
}

.icon-reduce:before {
  content: "\e8b1";
}

.icon-my:before {
  content: "\e60d";
}

.icon-home-checked:before {
  content: "\fee2";
}

